# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [67]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [26]:
#x = pokemon[pokemon["Legendary"] == True]
#x.mean()

#             470.215385
Total         637.384615
HP             92.738462
Attack        116.676923
Defense        99.661538
Sp. Atk       122.184615
Sp. Def       105.938462
Speed         100.184615
Generation      3.769231
Legendary       1.000000
dtype: float64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [37]:
# Your code here:
legendary = pokemon[pokemon["Legendary"] == True]
no_legendary = pokemon[pokemon["Legendary"] == False]

print("Pokemon legendary total points mean: ", legendary["Total"].mean())
print("Pokemon legendary total points std: ", legendary["Total"].std())
print("""                  """)
print("Pokemon non-legendary total points mean: ", no_legendary["Total"].mean())
print("Pokemon non-legendary total points std: ", no_legendary["Total"].std())

Pokemon legendary total points mean:  637.3846153846154
Pokemon legendary total points std:  60.93738905315344

Pokemon non-legendary total points mean:  417.21360544217686
Pokemon non-legendary total points std:  106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [42]:
# Your code here:
legend = legendary["Total"]
no_legend = no_legendary["Total"]

In [43]:

stats.ttest_ind(legend, no_legend, equal_var = 0)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [44]:
# Your conclusions here:

# As we can check on the t-test, the p-value is considarably low, therefore, we can  say that both variables are no
# dependats

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [46]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [64]:
# Your code here:
pokewater = pokemon[pokemon["Type 1"] == "Water"]
no_pokewater = pokemon[pokemon["Type 1"] != "Water"]


print("Pokemon type water mean: ", pokewater.Total.mean())
print("Pokemon type water std: ", pokewater.Total.std())
print("""                  """)
print("Pokemon type no-water mean: ", no_pokewater.Total.mean())
print("Pokemon type no-water std: ", no_pokewater.Total.std())

Pokemon type water mean:  430.45535714285717
Pokemon type water std:  113.1882660643146

Pokemon type no-water mean:  435.85901162790697
Pokemon type no-water std:  121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [63]:
# Your code here:

stats.ttest_ind(pokewater.Total, no_pokewater.Total, axis = 0, equal_var = True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [65]:
# Your conclusions here:

# On this example, thep-value isabove 0,05, therefore, for this hypothesis, we could say that the variables are dependats

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [68]:
# Your code here:

stats.ttest_rel(pokemon["Attack"], pokemon["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# As the p-value is below 0.05 we can say that our hypothesis can be rejected. Therefore, we can conclude that 
# defense and attack values are not similar

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [71]:
# Your code here:
print(pokemon.columns)
stats.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

# Here, p-value is now bigger than 0.05. Thus, we cannot reject our H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [73]:
# Your code here:
    
stats.ttest_1samp(pokemon["Attack"] - pokemon["Defense"], 0)

# We can confirm that the result is the same

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [83]:
# Your code here:
leng_water_tab = pd.crosstab(pokemon.Legendary, pokemon["Type 1"]=="Water")

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [84]:
# Your code here:
stats.chi2_contingency(leng_water_tab)

(2.9429200762850503, 0.08625467249550949, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [85]:
# Your answer here:

# As the p-value of the Chi-2 test is slightly above 0.05, we say thaat  both variables are dependant