#### 1. Import pandas library

In [35]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [36]:
import getpass
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [37]:
mysql_domain = "relational.fit.cvut.cz"
mysql_user = "guest"
mysql_password = "relational"
mysql_db = "stats"

dbdata = [mysql_user, mysql_password, mysql_domain, mysql_db]
connection_url = 'mysql+pymysql://{}:{}@{}/{}'.format(*dbdata)
engine = create_engine(connection_url)
#print("Connected to DB!")

#### 4. Import the users table

In [58]:
import pandas as pd

sqlquery = """
SELECT * FROM users;
"""

data_1 = pd.read_sql_query(sqlquery, engine)
print(data_1.shape)
data_1.head()

(40325, 14)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [60]:
data_1.rename(columns = {'Id':'userId'}, inplace = True)
display(data_1.head())
# No ejecuto la orden de display porque consume demasiado tiempo la visualización de los datos.

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [61]:
sqlquery = """
SELECT * FROM posts;
"""

df = pd.read_sql_query(sqlquery, engine)
print (type(df))
#print(df.shape)
#df.head(1)

<class 'pandas.core.frame.DataFrame'>

In [62]:
df.shape

(91976, 21)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [66]:
df.rename(columns= {'Id':'postId', 'OwnerUserId':'userId'}, inplace=True)
display(df.head(1))
df.columns
data_1.columns

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [71]:
d_users = data_1[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
d_posts = df[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]
    
display(d_users.head())
display(d_posts.head())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [100]:
d_merged = d_users.merge(d_posts)
display(d_merged.head())
d_merged.shape
d_merged.dtypes

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

userId            int64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [87]:
missing_values = d_merged.isnull().sum()
missing_values

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [96]:
data_clean = d_merged.drop(["ViewCount"], axis = 1)

# El merge realizado previamente ha mantenido los datos correspondientes a Users y Posts coincidentes. Es decir,
# mediante un inner join se han juntado los datos que tienen relación entre las tablas. Otorgando especial interés a:
# ~ userId
# ~ Reputation
# ~ Views
# ~ Votes (Up and Down)

data_clean = data_clean.drop(["Score", "CommentCount"], axis = 1)


# Esta relación parte de la hipótesis de que el análisis que se pretende realizar sobre el conjunto de datos busca sacar
# conclusiones con respecto a todos los usuarios que han publicado un post. Este análisis puede resultar interesante para
# la justificación de una acción estratégica en torno a las campañas o gestión de los clientes actuales y su 
# comportamiento (y valoración desde nuestra plataforma).


display(data_clean.head())

   userId  Reputation  Views  UpVotes  DownVotes  postId
0      -1           1      0     5007       1920    2175
1      -1           1      0     5007       1920    8576
2      -1           1      0     5007       1920    8578
3      -1           1      0     5007       1920    8981
4      -1           1      0     5007       1920    8982

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [99]:
data_clean.dtypes

userId        int64
Reputation    int64
Views         int64
UpVotes       int64
DownVotes     int64
postId        int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [101]:
outliers = pd.DataFrame(columns=data.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data_clean[(data_clean[col] < lower) | 
                   (data_clean[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

AttributeError: 'NoneType' object has no attribute 'columns'

In [ ]:
outliers['Outlier'].value_counts()