In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv('GSAF5_uncleaned.csv', encoding='latin-1')
raw_df.columns

###
######SACATE LOS INVALID DE TYPES
######

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
raw_df["Species "].value_counts()

White shark                                                                                                                                      161
Shark involvement not confirmed                                                                                                                   80
Tiger shark                                                                                                                                       68
Bull shark                                                                                                                                        52
6' shark                                                                                                                                          40
4' shark                                                                                                                                          39
1.8 m [6'] shark                                                                                                                                  35
1.5 m [5'] shark                                                                                                                                  32
1.2 m [4'] shark                                                                                                                                  27
5' shark                                                                                                                                          25
3' shark                                                                                                                                          25
4' to 5' shark                                                                                                                                    23
2 m shark                                                                                                                                         22
3 m [10'] shark                                                                                                                                   22
No shark involvement                                                                                                                              21
Wobbegong shark                                                                                                                                   20
3' to 4' shark                                                                                                                                    18
3 m shark                                                                                                                                         16
2.4 m [8'] shark                                                                                                                                  16
3.7 m [12'] shark                                                                                                                                 15
1.2 m to 1.5 m [4' to 5'] shark                                                                                                                   14
7' shark                                                                                                                                          14
Blacktip shark                                                                                                                                    14
Blue shark                                                                                                                                        14
Mako shark                                                                                                                                        14
12' shark                                                                                                                                         14
"a small shark"                                                                                                                                   13
10' shark                                                                                                                                         13
1.5 m shark                                                                                                                                       13
5 m [16.5'] white shark                                                                                                                           13
                                                                                                                                                ...
"Blue nose shark"                                                                                                                                  1
1.8 m [6'] sandtiger shark                                                                                                                         1
Possibly a 1.5 m [5'] blacktip or spinner shark                                                                                                    1
Thought to involve a 2.5 m bull or tiger shark                                                                                                     1
White shark, 4.5 to 5 m                                                                                                                            1
2.5' shark                                                                                                                                         1
Bronze whaler shark, 1.5 m [5']                                                                                                                    1
Blacktip reef shark                                                                                                                                1
3.5' hammerhead shark                                                                                                                              1
4 m [13'] shark seen in vicinity                                                                                                                   1
5' to 8' shark                                                                                                                                     1
Tiger shark, 8'                                                                                                                                    1
small brown shark                                                                                                                                1
Said to involve 2 sharks: 5.2 m & 6 m [17' & 20']                                                                                                  1
 white shark, 15'                                                                                                                                  1
Tiger shark said to be 5 to 7 m [16.5' to 23']                                                                                                     1
Bronze whaler shark, 1.8 m [6']                                                                                                                    1
Mako shark, 125-lb                                                                                                                                 1
 White shark                                                                                                                                       1
3.3 m [10'9"] shark                                                                                                                                1
2 small bull sharks                                                                                                                                1
White shark, 4.5 m [14'9"]                                                                                                                         1
White shark or thresher shark                                                                                                                      1
Grey nurse shark, 2.6 m [8.5']                                                                                                                     1
reef shark, 1.5m                                                                                                                                   1
1.2 m to 1.5 m [4' to 5'] bull, sandbar or dusky shark                                                                                             1
Grey reef shark, 1.8 m [6'] grey reef shark, identified by Dr. L.P. L. Schultz based on photographs; identified as C. melanopterus by Stewart      1
3.5 m [11'6"] shark captured                                                                                                                       1
Possibly a 1.5 m [5'] blacktip shark                                                                                                               1
Thresher shark                                                                                                                                     1
Name: Species , Length: 1538, dtype: int64

In [16]:
def findSpecies (s):
    sharks = {
        "Bull":"Bull Shark", "bull":"Bull Shark", 
        "White":"White Shark", "white":"White Shark",
        "Tiger":"Tiger Shark", "tiger":"Tiger Shark",
        "Mako": "Mako Shark", "mako": "Mako Shark",
        "Blacktip": "Blacktip Shark", "blacktip": "Blacktip Shark",
        "Blue": "Blue Shark", "blue": "Blue Shark",
        "involvement": None, "involve": None, "Bronze":"Bronze Shark", "bronze":"Bronze Shark",
        "whaler":"Whale Shark"
    }
    for shark, species in sharks.items(): 
        if shark in s: 
            return species
    return "Other"

In [23]:
raw_df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [18]:
raw_df["Cat_shark"] = raw_df["Species "].apply(findSpecies)

TypeError: argument of type 'float' is not iterable

In [ ]:
def findMonth (m):
    months = {
        "Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12
    }
    for month, numero in months.items(): 
        if month in m: 
            return numero
    return None
    
raw_df2["Months"] = raw_df2["Date"].apply(findMonth)
#raw_df2["Months"].value_counts()