# Shark analysis project

On this project we are proceding to clean and analyse the dataset provided by Kaggle on shark attack incidents.

In [281]:
import pandas as pd

In [282]:
raw_df = pd.read_csv('GSAF5_uncleaned.csv', encoding='latin-1')
display(raw_df.head())
raw_df.shape

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

(5992, 24)

In [283]:
#Identify how many nulls you have for each variable
null_cols = raw_df.isnull().sum()

null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [284]:
raw_df.columns

unnammed_cols = raw_df[["Unnamed: 22","Unnamed: 23"]]
unnammed_cols.head()

unnammed_cols.isnull().sum()

# We are going to delete these two columns as they aren't holding any useful data for the current analysis

Unnamed: 22    5991
Unnamed: 23    5990
dtype: int64

In [285]:
unnammed_cols = raw_df.drop(columns=["Unnamed: 22","Unnamed: 23"])
raw_df2 = unnammed_cols
raw_df2.head()
# We have deleted those columns

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [286]:
#raw_df2["Time"]
#Variable Time is not homogenized 

raw_df2.dtypes
#Let's tranform Age, Date (?), o concatenar date con Year -- TambiÃ©n TIME 
###OJO CON INJURY

#raw_df2.replace({'Fatal (Y/N)': {'Y': True, 'N': False}})
#raw_df2["Fatal (Y/N)"].value_counts().head()

#raw_df2.replace()
#[^x]
#df.replace(replacements, regex=True, inplace=True)

#raw_df2.dtypes
#df.at['C', 'x'] = 10"""

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

In [307]:
import numpy as np
import re

#replace({"10-Jan": "1-10", "Nov-50": "11-50"})



#raw_df2['Fatal (Y/N)'].replace(lambda x : if  x != "Y" | "N", np.nan, inplace=True)




raw_df2['Fatal (Y/N)'].replace(['UNKNOWN', '#VALUE!'], np.nan, inplace=True)
raw_df2['Fatal (Y/N)'].replace("[^N]", "N", inplace=True)



#raw_df2['Fatal (Y/N)'].replace(['F', ' N', "N ", "n"], "N", inplace=True)



raw_df2['Fatal (Y/N)'].value_counts()

N     4315
Y     1552
 N       8
F        1
N        1
n        1
Name: Fatal (Y/N), dtype: int64

In [288]:
raw_df2["Type"].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [289]:
raw_df2.columns
raw

NameError: name 'raw' is not defined

In [ ]:
#BUENO#raw_df2[["Case Number","Date", "Case Number.1", "Case Number.2"]]

#raw_df2[["Case Number","Date", "Year", "Time"]]
#raw_df2["Date"].value_counts()

#datetime.datetime.strptime("11/12/98","%d/%m/%y")


## Si sacamos el aÃ±o de la fecha date, como valor numÃ©rico, tendremos escala temporal anual.
## Para los meses, podemos repartir en funciÃ³n de si lo tienen o no y ahÃ­ valorar si nos interesa hacer un anÃ¡lisis de eso
import re
#Extrae el formato fecha 00.00.00

raw_df2["months"] = raw_df2["Case Number"].str.findall('\d+.\d+.\d+')
#raw_df2["Case Number"].replace(pattern, regex=True)
#raw_df2["Case Number"].astype(date)
#raw_df2.columns
#raw_df2["cleaned_dates"].value_counts()
q = raw_df2["cleaned_dates"]
#q = raw_df2["cleaned_dates"].replace(r'[/-]',',',regex=True)
q[q.isnull()] = 0

In [ ]:
#raw_df2["Case Number"].apply(raw_df2.to_datetime("Case Number"))
#\.\d\d\d\d\.()



#int(s) for s in str.split() if s.isdigit()] ==> [23, 11, 2] 
raw_df2["Date"].value_counts()

In [308]:
raw_df2["Date"]

def findMonth (m):
    months = {
        "Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12
    }
    for month, numero in months.items(): 
        if month in m: 
            return numero
    return None
    
raw_df2["Months"] = raw_df2["Date"].apply(findMonth)
#raw_df2["Months"].value_counts()

raw_df2["Months"] = raw_df2["Months"].fillna(0).astype("int64")
#raw_df2["Months"] = raw_df2["Months"].astype("int64")

raw_df2["Months"].dtype

#raw_df2[["Case Number", "Months", "Year"]].head()

dtype('int64')

In [ ]:
"""month = {
        "Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12
    }
month.get('Jan', None)
    """

In [ ]:
#raw_df2.columns
#raw_df2["Year"].value_counts()

In [ ]:
"""#def extractYear(y):
q = raw_df2["Months"].replace("[/-][\s*\d\d\d\d][\d\d\d\d\s*\d\d\d\d]",",", regex=True)
q[q.isnull()] = 0

data_hypothesis_clean_dates = data_hypothesis[data_hypothesis['Month'] != '123asdasdkfkfk'].copy()
display(data_hypothesis_clean_dates)
q[q.str.find(',') > 0] = [mean(map(lambda x: int(x),e.split(','))) for e in x]
#display(q[q.str.find(',') > 0])

#raw_df2["Months"]."""

raw_df2.shape
6000*0.1

In [ ]:
raw_df2.head()
raw_df2.columns
display(raw_df2[["Case Number", "Months", "Year"]]).head()

In [ ]:
cols_no_nulls = raw_df2.columns[raw_df2.isnull().sum() < 1000]
raw_df2.shape
raw_df2.columns

In [ ]:
data_clean = raw_df2[cols_no_nulls] 
data_clean = data_clean[data_clean["Months"] & data_clean["Year"] != 0].copy()

In [ ]:
data_clean.shape
data_clean.columns
data_clean["Fatal (Y/N)"].value_counts()

In [ ]:
data_clean.columns
data_clean.shape

In [ ]:
data_clean['Case Number'] = data_clean.drop_duplicates(subset=['Case Number'], keep='first')
data_clean['Case Number']
data_clean.shape

In [ ]:
data_clean.columns
#data_clean["cleaned_dates"].head()

In [ ]:
raw_df2["Species "].value_counts()

In [ ]:
wdf = data_clean[["Months","Year", "Fatal (Y/N)", "Type", "Country", "Area", ]]

In [ ]:
wdf.head()

In [ ]:
data_clean["Type"].value_counts()

In [292]:
raw_df["Species "].isnull()

pd.to_numeric(raw_df["Species "], errors='coerce')

raw_df = raw_df.dropna(subset=["Species "])

raw_df["Species "] = raw_df["Species "].astype(str)

In [298]:
def findSpecies (s):
    sharks = {
        "Bull":"Bull Shark", "bull":"Bull Shark", 
        "White":"White Shark", "white":"White Shark",
        "Tiger":"Tiger Shark", "tiger":"Tiger Shark",
        "Mako": "Mako Shark", "mako": "Mako Shark",
        "Blacktip": "Blacktip Shark", "blacktip": "Blacktip Shark",
        "Blue": "Blue Shark", "blue": "Blue Shark",
        "involvement": None, "involve": None, "Bronze":"Bronze Shark", "bronze":"Bronze Shark",
        "whaler":"Whale Shark"
    }
    for shark, species in sharks.items(): 
        if shark in s: 
            return species
    return "Other"

In [299]:
data_clean["Cat_shark"] = raw_df["Species "].apply(findSpecies)
data_clean["Cat_shark"].value_counts()

Other             988
White Shark       439
Tiger Shark       183
Bull Shark        100
Blacktip Shark     66
Mako Shark         37
Bronze Shark       35
Blue Shark         28
Whale Shark         4
Name: Cat_shark, dtype: int64

In [302]:
wdf = data_clean[["Months","Year", "Fatal (Y/N)", "Type", "Country", "Area", "Cat_shark"]]
wdf.dropna()
wdf.shape

(3793, 7)

In [303]:
wdf.to_csv("cleaned_data.csv")

In [ ]:
import numpy as np
low_variance = []

for col in data_clean._get_numeric_data():
    minimum = min(data_clean[col])
    ninety_perc = np.percentile(data_clean[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)