# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Import data set `Pokemon` from [kaggle](https://www.kaggle.com/abcsds/pokemon/) . Read the data into a dataframe called `pokemon`.

In [2]:
# pokemon = 
pokemon = pd.read_csv("Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [14]:
# your code here
display(pokemon.head(10))

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# your code here
types = pd.crosstab(pokemon['Type 1'],pokemon["Type 2"])
display(types)

types.values

Type 2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Type 1,,,,,,,,,,,,,,,,,,
Bug,0,0,0,2,0,2,2,14,1,6,2,0,0,12,0,3,7,1
Dark,0,0,3,0,0,2,3,5,2,0,0,2,0,0,2,0,2,0
Dragon,0,0,0,1,1,0,1,6,0,0,5,3,0,0,4,0,0,0
Electric,0,0,1,0,1,0,1,5,1,1,0,1,2,0,0,0,3,1
Fairy,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0
Fighting,0,1,0,0,0,0,0,1,0,0,0,0,0,0,3,0,2,0
Fire,0,0,1,0,0,7,0,6,0,0,3,0,2,0,2,1,1,1
Flying,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Ghost,0,1,2,0,0,0,3,2,0,10,0,0,0,4,0,0,0,0
Grass,0,3,1,0,2,3,0,5,0,0,1,3,0,15,2,0,2,0
Ground,0,3,2,1,0,0,1,4,2,0,0,0,0,0,2,3,1,0
Ice,0,0,0,0,0,0,0,2,1,0,3,0,0,0,2,0,0,3
Normal,0,0,0,0,5,2,0,24,0,2,1,0,0,0,2,0,0,1
Poison,1,3,1,0,0,2,0,3,0,0,2,0,0,0,0,0,0,1
Psychic,0,1,0,0,6,3,1,6,1,1,0,0,0,0,0,0,0,0
Rock,2,2,2,0,3,1,0,4,0,2,6,2,0,0,2,0,3,6
Steel,0,0,1,0,3,1,0,1,4,0,2,0,0,0,7,3,0,0
Water,0,6,2,2,2,3,0,7,2,3,10,3,0,3,5,4,1,0

array([[ 0,  0,  0,  2,  0,  2,  2, 14,  1,  6,  2,  0,  0, 12,  0,  3,
         7,  1],
       [ 0,  0,  3,  0,  0,  2,  3,  5,  2,  0,  0,  2,  0,  0,  2,  0,
         2,  0],
       [ 0,  0,  0,  1,  1,  0,  1,  6,  0,  0,  5,  3,  0,  0,  4,  0,
         0,  0],
       [ 0,  0,  1,  0,  1,  0,  1,  5,  1,  1,  0,  1,  2,  0,  0,  0,
         3,  1],
       [ 0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0],
       [ 0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,  3,  0,
         2,  0],
       [ 0,  0,  1,  0,  0,  7,  0,  6,  0,  0,  3,  0,  2,  0,  2,  1,
         1,  1],
       [ 0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0],
       [ 0,  1,  2,  0,  0,  0,  3,  2,  0, 10,  0,  0,  0,  4,  0,  0,
         0,  0],
       [ 0,  3,  1,  0,  2,  3,  0,  5,  0,  0,  1,  3,  0, 15,  2,  0,
         2,  0],
       [ 0,  3,  2,  1,  0,  0,  1,  4,  2,  0,  0,  0,  0,  0,  2,  3,
         1,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  2,  1,  0,  3,  0,  0,  0,  2,  0,
         0,  3],
       [ 0,  0,  0,  0,  5,  2,  0, 24,  0,  2,  1,  0,  0,  0,  2,  0,
         0,  1],
       [ 1,  3,  1,  0,  0,  2,  0,  3,  0,  0,  2,  0,  0,  0,  0,  0,
         0,  1],
       [ 0,  1,  0,  0,  6,  3,  1,  6,  1,  1,  0,  0,  0,  0,  0,  0,
         0,  0],
       [ 2,  2,  2,  0,  3,  1,  0,  4,  0,  2,  6,  2,  0,  0,  2,  0,
         3,  6],
       [ 0,  0,  1,  0,  3,  1,  0,  1,  4,  0,  2,  0,  0,  0,  7,  3,
         0,  0],
       [ 0,  6,  2,  2,  2,  3,  0,  7,  2,  3, 10,  3,  0,  3,  5,  4,
         1,  0]])

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# your code here
import re
pokemon.columns
pokemon["Name"].replace("^(.*?)Mega", "", regex = True)

# Nota para el futuro -->
# ->( )<- Todo lo que esté dentro del paréntesis hará referencia a lo que va delante de la palabra Mega.
# ->^<- Marca el principio de la string
# ->.*<- El punto y asterisco es para coger cualquier caracter, la ? es para marcar el tope hasta el que coger 


# test transformed data
#pokemon.head(10)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3                   Venusaur
4                 Charmander
5                 Charmeleon
6                  Charizard
7                Charizard X
8                Charizard Y
9                   Squirtle
10                 Wartortle
11                 Blastoise
12                 Blastoise
13                  Caterpie
14                   Metapod
15                Butterfree
16                    Weedle
17                    Kakuna
18                  Beedrill
19                  Beedrill
20                    Pidgey
21                 Pidgeotto
22                   Pidgeot
23                   Pidgeot
24                   Rattata
25                  Raticate
26                   Spearow
27                    Fearow
28                     Ekans
29                     Arbok
               ...
770                  Sylveon
771                 Hawlucha
772                  Dedenne
773                  Carbink
774                    Goomy
775                  Sliggoo
776                   Goodra
777                   Klefki
778                 Phantump
779                Trevenant
780    PumpkabooAverage Size
781      PumpkabooSmall Size
782      PumpkabooLarge Size
783      PumpkabooSuper Size
784    GourgeistAverage Size
785      GourgeistSmall Size
786      GourgeistLarge Size
787      GourgeistSuper Size
788                 Bergmite
789                  Avalugg
790                   Noibat
791                  Noivern
792                  Xerneas
793                  Yveltal
794         Zygarde50% Forme
795                  Diancie
796                  Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
# your code here
print(pokemon.columns)

pokemon["A/D Ratio"] = pokemon["Attack"]/pokemon["Defense"]

display(pokemon["A/D Ratio"].head())

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

0    1.000000
1    0.984127
2    0.987952
3    0.813008
4    1.209302
Name: A/D Ratio, dtype: float64

#### Identify the pokemon with the highest `A/D Ratio`.

In [16]:
# your code here
#previous
display(pokemon[["Name","A/D Ratio"]].max())

#now
pokemon.sort_values('A/D Ratio', ascending=False).head(1)

Name         Zygarde50% Forme
A/D Ratio                   9
dtype: object

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0,Psychic

#### Identify the pokemon with the lowest A/D Ratio.

In [18]:
# your code here

#previous
display(pokemon[["Name","A/D Ratio"]].min())

#now
pokemon.sort_values('A/D Ratio', ascending=True).head(1)

Name         Abomasnow
A/D Ratio    0.0434783
dtype: object

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,Bug-Rock

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [9]:
# your code here
#pd.crosstab(pokemon['Make'],df["Year"])[[2008,2009,2010]]
#>>> pd.concat([s1, s2], keys=['s1', 's2',])


#pokemon["Combo Type"] = pd.concat([pokemon["Type 1"],pokemon["Type 2"]], keys = [pokemon["Type 1"], pokemon["Type 2"]])
#df1['state_and_code'] = df1['State'] +'-'+ df1['State_code']
#print(df1)


pokemon["Combo Type"] = pokemon["Type 1"] + "-" + pokemon["Type 2"]

pokemon["Combo Type"] = pokemon["Combo Type"].fillna(pokemon["Type 1"])

pokemon["Combo Type"].value_counts()

Normal             61
Water              59
Psychic            38
Grass              33
Fire               28
Electric           27
Normal-Flying      24
Fighting           20
Bug                17
Fairy              15
Grass-Poison       15
Poison             15
Bug-Flying         14
Ice                13
Ground             13
Bug-Poison         12
Dragon             11
Dark               10
Water-Ground       10
Ghost-Grass        10
Ghost              10
Rock                9
Water-Flying        7
Fire-Fighting       7
Bug-Steel           7
Steel-Psychic       7
Dragon-Flying       6
Psychic-Flying      6
Psychic-Fairy       6
Water-Dark          6
                   ..
Grass-Dragon        1
Bug-Water           1
Rock-Fighting       1
Dragon-Electric     1
Ice-Ghost           1
Grass-Ground        1
Electric-Ghost      1
Ground-Electric     1
Dragon-Fairy        1
Bug-Ghost           1
Electric-Fairy      1
Psychic-Grass       1
Electric-Grass      1
Poison-Dragon       1
Ground-Fire         1
Steel-Fighting      1
Fire-Steel          1
Normal-Water        1
Fire-Rock           1
Electric-Dragon     1
Normal-Ground       1
Fire-Dragon         1
Psychic-Dark        1
Electric-Water      1
Water-Steel         1
Steel-Flying        1
Ghost-Dark          1
Fighting-Dark       1
Psychic-Fire        1
Ground-Steel        1
Name: Combo Type, Length: 154, dtype: int64

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [19]:
#pokemon["Combo Type"].isnull().sum()

display(pokemon.sort_values("A/D Ratio", ascending = False).head())

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

In [11]:
# your code here df.sort_values(by=['col1'])
# df['yearly_rank'] = df.groupby('year', sort=False)['value'].rank(ascending=False)

pokemon[["Name", "A/D Ratio"]].sort_values(by=["A/D Ratio"], ascending = False).head()


#display(pokemon["Name"].sort_values(by=["A/D Ratio"], ascending = False).head())

                      Name  A/D Ratio
429     DeoxysAttack Forme      9.000
347               Carvanha      4.500
19   BeedrillMega Beedrill      3.750
453               Cranidos      3.125
348               Sharpedo      3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [21]:
# your code here
#
top_five = pokemon[["Name", "A/D Ratio", "Combo Type"]].sort_values(by=["A/D Ratio"], ascending = False)
pokelist = top_five.values.tolist()[:5]
display(pokelist)

most_power = []

for i in a["Combo Type"]:
    if i not in most_power:
        most_power.append(i)
print(most_power)



# An easier option

top_5 = list(set(pokemon.sort_values("A/D Ratio", ascending = False)["Combo Type"].head()))
display(top_5)

[['DeoxysAttack Forme', 9.0, 'Psychic'],
 ['Carvanha', 4.5, 'Water-Dark'],
 ['BeedrillMega Beedrill', 3.75, 'Bug-Poison'],
 ['Cranidos', 3.125, 'Rock'],
 ['Sharpedo', 3.0, 'Water-Dark']]

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

['Psychic', 'Bug-Poison', 'Water-Dark', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [22]:
# your code here

a.groupby("Combo Type").agg(['mean']).head()
pokemon.groupby("Combo Type").agg(['mean']).head()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean,mean
Combo Type,,,,,,,,,,,
Bug,361.352941,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.0,0.940179
Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.111667
Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.637681
Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.234266
Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.146274